body{
  font-family: 'Open Sans', "Trebuchet MS", Arial, sans-serif;
  background-color: #ADD8E6;
  text-align:center;
}

.top{
    font-size:300%
    font-weight:bold;
    margin-top:15%;
}

.start-over-button{
    background-color:#FFFFFF;
    border-width:1px;
    border-style: solid;
    border-color:black;
    height:6%;
    margin-top:20%;
}


.start-over-button:hover{
    background-color: #FFFF00;
}

.button_text{
    margin-top:1%;
    margin-bottom:1%;
    font-size:250%;
}